/*  Edited version of CSS rest by Andy Bell */
/*  https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: hsl(0 0% 0% / 0.03);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button,
input[type="”submit”"],
input[type="”reset”"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

.container {
  padding: 1.5rem;
  margin-inline: auto;
}

.container-md {
  max-width: 75em;
}

.container-lg {
  max-width: 90em;
}

/* general styles */

header {
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.select-panel {
  margin-bottom: 2rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

/* component styles */

/* product card */

.product-card,
.product-info {
  display: flex;
  flex-direction: column;
}

.product-card {
  justify-content: space-between;
  width: 260px;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.product-card > img {
  max-width: 120px;
  margin: auto;
}

.product-info {
  gap: 1rem;
}

.name,
.price {
  font-weight: bold;
}

.price {
  color: green;
}

.rating {
  display: flex;
  justify-content: space-between;
}

/* custom select */

.select-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.select {
  display: flex;
  position: relative;
  padding: 1rem;
  margin-block: 1rem;
  max-width: 30rem;
}

.select-values {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.placeholder {
  opacity: 0.5;
}

.select-value-btn {
  border: 1px solid hsl(0 0% 0% / 0.3);
  border-radius: 4px;
  padding: 0.25rem;
}

.select-value-btn:hover,
.select-value-btn:focus {
  background-color: hsl(0 100% 50% / 0.4);
}

.select-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.clear-btn {
  color: #777;
}

.clear-btn:hover,
.clear-btn:focus {
  color: black;
}

.vertical-divider {
  align-self: stretch;
  background-color: #777;
  width: 1px;
}

.caret {
  translate: 0 25%;
  border: 0.25em solid transparent;
  border-top-color: #777;
  cursor: pointer;
}

.caret:hover,
.caret:focus {
  border-top-color: #777;
}

.select-options {
  list-style: none;
  padding-block: 0.5rem;
  position: absolute;
  max-height: 15rem;
  overflow-y: auto;
  width: 100%;
  left: 0;
  top: calc(100% + 0.3em);
  display: none;
  z-index: 100;
}

.select-options.show {
  display: block;
}

.select-options > * {
  cursor: pointer;
  padding: 0.5rem;
}

.highlighted {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.selected {
  background-color: hsl(200, 100%, 70%);
}
